* {
  margin: 0;
  font-family: Arial;
  border: border-box;
  color: white;
}
.navbar {
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.nav-amazon-logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 1px solid transparent;
  height: 50px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.border:hover {
  border: 1px solid white;
  border-radius: 2px;
}
/* box2 */
.add-first {
  color: #cccccc;
  font-size: 0.74rem;
  margin-left: 15px;
}
.add-second {
  margin-left: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}
.add-icon {
  display: flex;
  align-items: center;
}
/* box 3 */
.nav-search {
  display: flex;
  background-color: #febd69;
  justify-content: space-between;
  width: 60%;
  height: 40px;
  border-radius: 4px;
}
.nav-search:hover {
  border: 3px solid #febd69;
}
.search-select {
  background-color: #e6e6e6;
  color: #666666;
  width: 50px;
  font-size: 0.75rem;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  outline: none;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  font-size: 1.2rem;
}
.search-icon i {
  color: #131921;
}
/* box4 */
.nav-first {
  font-size: 0.74rem;
}
.nav-second {
  font-size: 0.9rem;
  font-weight: bold;
}
/* box6 */

.nav-cart i {
  font-size: 25px;
}
.nav-cart {
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 10px;
}
/* panel */
.panel {
  height: 40px;
  background-color: #232f3e;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p {
  display: inline;
  margin-left: 10px;
}
.panel-ops {
  width: 80%;
  font-size: 0.9rem;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: bold;
}
.panel-all {
  font-size: 0.9rem;
  font-weight: bold;
}
/* hero-section */
.hero-section {
  background-image: url(images/hero_image.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: #f5f6f6;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 20px;
}
.hero-msg p {
  font-weight: normal;
  color: black;
  font-size: 0.9rem;
}
.hero-msg a {
  color: #007185;
}
/* shop section */
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #cddbdc;
}
.box {
  height: 400px;
  width: 22%;
  background-color: white;
  margin: 20px 0 20px 0;
}
.box-img1 {
  background-image: url(images/box1_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img2 {
  background-image: url(images/box2_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img3 {
  background-image: url(images/box3_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img4 {
  background-image: url(images/box4_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img5 {
  background-image: url(images/box5_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img6 {
  background-image: url(images/box6_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img7 {
  background-image: url(images/box7_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-img8 {
  background-image: url(images/box8_image.jpg);
  height: 280px;
  margin: 20px 0 20px 0;
}
.box-content {
  padding: 20px;
}
.box-heading {
  font-size: 1.3rem;
  color: black;
}
.box-foot {
  font-size: 0.9rem;
  color: #0f798c;
}
/* footer */
.foot-panel1 {
  background-color: #37475a;
  color: #fefefe;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
.foot-panel2 {
  height: 300px;
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
}
p {
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-style: none;
}
a {
  font-size: 13px;
  color: #fefefe;
  margin-top: 5px;
  font-style: none;
  margin-top: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  font-style: none;
  padding-top: 50px;
}
.foot-panel3 {
  background-color: #232f3e;
  height: 70px;
  border-top: 0.5px solid #35404e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-panel4 {
  background-color: #131a22;
  height: 70px;
  border-top: 0.5px solid #35404e;
  font-size: 12px;
  color: #fefefe;
  text-align: center;
}
.pages {
  padding-top: 20px;
}
.copy {
  padding-top: 5px;
}
